{% extends "dynamic_base.html" %}
{% block content %}

<div class="module">
    <h1>
        {{ module_title }}
    </h1>
    {% autoescape off %}{{ content }}{% endautoescape %}

    {% for section in sections %}
    <details>
        <summary class="sum1">
            {% if section.lesson_order %}
                {% autoescape off %}
                Lesson {{ section.lesson_order }}: {{ section.title }}
                {% endautoescape %}
            {% else %}
                {% autoescape off %}{{ section.title }}{% endautoescape %}
            {% endif %} 
        </summary>
        {% autoescape off %}{{ section.content }}{% endautoescape %}
    </details>
    {% endfor %}



</div>

{% include 'quiz.html' %}

{% endblock content %}